body {
	background-color: #4d4d4d;
	color: white;
	text-decoration: none;
	max-width: 600px;
	margin: auto;
   	font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
   	line-height: 1.5;
}

.center {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.profile {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.links {
	display: flex;
	margin: auto;
}

.links li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 110px;
	float: left;
}

.links a {
	display: flexbox;
	color: white;
}

a:hover { 
	color: black;
}

a {
	color: white;
}

img {
	margin: auto;

}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}