* {
	color: #e3e3e8;
}

body {
	background-color: #242b2d;
	color: #e3e3e8;
	text-decoration: none;
	max-width: 650px;
	margin: auto;
   	font-family: 'Droid Sans Mono', monospace;
    font-size: .9em;
}

.center {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.profile {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

h2 {
	margin-bottom: 0;
}

.links {
	margin: 0 auto 1.5em auto;
}

.links a {
	color: white;
	margin: auto 1em auto 0;
}

a:hover { 
	color: black;
}

img {
	margin: auto;
	border-radius: 1em
}

li, p {
	margin: 0 0 .5em 0;
	font-size: .8em;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}