* {
	color: black;
}

body {
	background-color: #c3c3c4;
	color: black;
	text-decoration: none;
	margin: auto;
   	font-family: 'Source Code Pro', monospace;
    font-size: .9em;
}

.alt-color {
	background-color: #dededf;
	border-radius: .5em;
}

header, footer {
	text-align: center;
}

.bio-section, .bio, h2, ul {
	text-align: left;
}

.profile {
	margin: 0 auto;
	display: flex;
}

.bio-info, .block {
	display: block;
	margin: 0 auto;
}

h2 {
	margin-bottom: .25em;
}

.contrast-font {
	font-family: 'Lora', serif;
	color: #0e492d;
	font-weight: bold;
}

.top-quote {
	font-size: .7em;
}

.icons ul {
	list-style: none;
}

.icons li {
	margin: 0 .25em 0 0;
}

.icons a:link {
	margin-bottom: .5em;
	font-size: 2em;
	text-decoration: none;
}

.links {
	margin: 0 auto 1.5em auto;
}

.links a {
	color: white;
	margin: auto 1em auto 0;
}

img {
	margin: 0 0 1em 0;
	border-radius: 1em;
}

li, p {
	margin: 0 0 .5em 0;
	font-size: .8em;
}

.w3-bar a {
	text-decoration: none;
}

.w3-row-padding {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.w3-col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}